@charset "utf-8";
/* CSS Document */

*
{ margin: 0;
  padding: 0;}

body{
	font-family: "trebuchet ms", arial, sans-serif;
	font-size:13px;
	background-image: url(image/background.png);
	
}



#header
{
	height: 240px;
	background-color:#2c2c54;
	
}

#logo
{
	width: 900px;
KAPALI...............	position: relative;
	height:168px;
	
	margin-left:auto;
	margin-right:auto;
  }


#logo h1{
	color: #FFF;
	letter-spacing: 4px;
	padding-top: 42px;
	font:38px'century gothic', arial, sans-serif;	
	
}
.logo_rengi{
	color:#1293EE;
	
	}  
#logo h2{
	font:20px'century gothic', arial, sans-serif;	;
	color: #DDD;
	padding-top: 4px;
	padding-left:5px;
	
	}

.menu ul{
  list-style:none;
  margin: 0;
  padding: 0;
}
 
.menu li{
  float: left;
  position:center;
  width: 240px;
  list-style-position:center; 
}
 
.menu ul li ul{
  display:none;
}
 
.menu ul li:hover ul{
  display: block;
}
 
.menu ul li a{
  text-decoration: none;
  background:#576574;
  display: block;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  border-bottom: 5px solid red;
  border-left: 1px solid #;
  padding: 15px;
}
 
.menu ul li ul li a{
  background: #595959;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #333;
  font-size: .8em;
}
 
.menu li a:hover{
  background: rgb(248,140,0);
  transition: .5s;
}
 
.menu ul li ul li a:hover{
  padding-left: 15px;
  
}
 

.activite {
	background: #0D66A5;
	}
	
#content{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	}
	
#icerik{
	width: 670px;
	float: left;
	margin-top: 16px;
	height: 725px;
	}
	
#icerik_1,#icerik_2{
	padding-top: 16px;
	padding-right: 24px;
	padding-bottom: 23px;
	padding-left: 20px;
	color: #333;
	text-align: justify;
	line-height: 21px;
	}
	
	
#icerik_1 h2,#icerik_2 h2 {
	
  font: 22px 'trebuchet ms' , arial, sans-serif;
  color: #2c2c54;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

	
#clear{
	clear: both;
	
	}	
#footer
{
	width: 900px;
	height: 33px;
	text-align: center;
	background:red;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'lucida sans unicode', arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	padding-top: 24px;
	padding-right: 0px;
	
  
  }

#footer a
{
	color:#FFF;
	text-decoration: none;
	text-align: center;
}

#footer a:hover
{
	color:rgb(248,140,0);
	text-decoration: underline;
}
	
